<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"
        integrity="sha256-4HLtjeVgH0eIB3aZ9mLYF6E8oU5chNdjU6p6rrXpl9U=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"
        integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js"
        integrity="sha512-dj/9K5GRIEZu+Igm9tC16XPOTz0RdPk9FGxfZxShWf65JJNU2TjbElGjuOo3EhwAJRPhJxwEJ5b+/Ouo+VqZdQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/extras/jquery.tablesorter.pager.min.js"
        integrity="sha512-y845ijdup9lDunrcSRQAlFdQICHVhkB5UNguWRX8A3L+guxO7Oow0poojw0PLckhcKij++h85bnyro80fjR9+A==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-mark.min.js"
        integrity="sha512-rdccgnnXcli1teklCuKwHaPoLI4w01ufZv4aIxGzjSdEb+BeAXth6uRQe1JcMvdneRJ1IPxr9EmrabrHoYGU8A==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-print.min.js"
        integrity="sha512-6r5K/lysv9EN71+CnDqt/UEHW0hfhEew4oXCLWXr2HnH38crxUqzzGDpJASV6Grdl/9MWDS87nZUcleOrUJq1g==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-columnSelector.min.js"
        integrity="sha512-QDyBAVOnTGw51BWsu6k7xuVvD2K/q5T1cSEH767RsBT5+QPxy5iEdykZzBVfQ5cd5OQQec8Zn1Qr8CLqrVdO6Q==" crossorigin="anonymous"></script>
<script>
    $(function () {
        $('table').tablesorter({
            theme: 'bootstrap',
            sortReset: true,
            headerTemplate: '{content} {icon}',
            widgets: ['uitheme', 'zebra', 'saveSort', 'resizable', 'filter', 'mark', 'print', 'columnSelector', 'stickyHeaders'],
            widgetOptions: {
                filter_cssFilter: 'form-control',
                filter_external: '.search',
                filter_reset: '.reset-filter',
                filter_saveFilters: true,
                print_styleSheet: 'https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/css/theme.bootstrap_4.min.css',
                columnSelector_container: '#popover-target',
                columnSelector_mediaqueryState: false,
                stickyHeaders_offset: 56
            }
        })
            .tablesorterPager({
                container: $('.ts-pager'),
                output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
            });
        $('#popover').popover({
            placement: 'right',
            html: true,
            content: $('#popover-target')
        });
        $('.reset-sort').click(function () {
            $('table').trigger('saveSortReset').trigger('sortReset');
            return false;
        });
        $('.print').click(function () {
            $('table').trigger('printTable');
        });
    });
</script>
